/* header*/
header {
    position: sticky;
    top: 0;
    padding: 20px;
    z-index: 1000;
    -webkit-box-shadow: 0 5px 25 px rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 25px rgba(0, 0, 0, 100);
    background: #fff
}

.head_img
{
    height: 64px;
    width: 109px;
}
footer {
    position: sticky;
    top: 0;
    padding: 20px;
    z-index: 1000;
    -webkit-box-shadow: 0 5px 25 px rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 25px rgba(0, 0, 0, 100);
    background: #fff
}




.text-body-secondary {
    --bs-text-opacity: 1;
    /* color: var(--bs-secondary-color)!important; */
    color: white;!important
}

body {
      background-image: url('/static/img/background_2.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      font-family: 'Arial', sans-serif; /* Установка шрифта */
    font-size: 18px; /* Размер шрифта */
    line-height: 1.6; /* Межстрочный интервал */
    color: white; /* Цвет текста */
    }
caption {
font-size: 22px;
color: black;!important
}

.flex-container {
  width: 100%;
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
}

.first {
  background: #98FB98;
  height: 50px;
  flex-grow: 4;
}

.second {
  background: green;
  height: 50px;
  flex-grow: 6;
}