/* header*/
header {
    position: sticky;
    top: 0;
    padding: 20px;
    z-index: 1000;
    -webkit-box-shadow: 0 5px 25 px rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 25px rgba(0, 0, 0, 100);
    background: #fff
}

.head_img
{
    height: 64px;
    width: 109px;
}
footer {
    position: sticky;
    top: 0;
    padding: 20px;
    z-index: 1000;
    -webkit-box-shadow: 0 5px 25 px rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 25px rgba(0, 0, 0, 100);
    background: #fff
}




.text-body-secondary {
    --bs-text-opacity: 1;
    /* color: var(--bs-secondary-color)!important; */
    color: white;!important
}
