{% extends "base.html" %}
{% block body %}

<!-- ТУТ ВЫВОД ОШИБКИ -->
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-warning" role="alert">
            {% for message in messages %}
            {{ message }}<br>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    </div>
<br>
    <div class="container">
      <div class="row">
        <div class="col-8">
            <br>
            <!-- ТУТ БУДУТ НОВОСТИ -->
                    <div class="container">
                            <div class="news-container">


<!--                                    {% for name, news  in dict_news %}-->
<!--                                          <h1 class="text-center text-xl-left bg-light bg-light bg-opacity-75 p-2">{{ name }}</h1>-->
<!--                                          <p class="text-start fs-3 lh-base text-xl-left bg-light bg-light bg-opacity-75 p-2"> {{ news }}</p>-->
<!--                                    {% endfor %}-->


                                            <h1 class="text-center text-xl-left bg-light bg-light bg-opacity-75 p-2">Заголовок новости 1</h1>
                                            <p class="text-start fs-3 lh-base text-xl-left bg-light bg-light bg-opacity-75 p-2"> Американская армия находится в худшем положении за многие десятилетия, пишет одно из самых влиятельных в Азии англоязычных аналитических изданий Eurasian Times. Пентагон истощен, потому что вынужден воевать сразу на нескольких фронтах: это противостояние с мигрантами и американскими радикалами на границе Техаса, эскалация в Украине и по всему Ближнему Востоку, плюс рост напряженности в Индо-Тихоокеанском регионе. Однако главной проблемой Америки остается беспрецедентный кризис с набором в ВС: все меньше молодежи выбирают армейскую службу.

Таков результат правления Джо Байдена, который оставит Штаты своему преемнику крайне истощенными в военном отношении. И это одна из причин катастрофического падения популярности 46-го президента. Судя по соцопросам, поддержка Байдена колеблется в пределах от 43% (данные Hill) до 33% (Real Creal Politics)

Впервые после окончания Холодной войны, когда американские вооруженные силы считались самыми могущественными, они оказались в глубочайшем кризисе. Миф о непобедимости армии США развеян в результате комплекса негативных факторов: геополитических, промышленных, экономических и социальных.

Противостояние на границе в Техасе может потенциально вылиться в гражданскую войну в случае, если внутренние разногласия не будут урегулированы. Губернатор Грег Эбботт оспорил решение Верховного суда, в котором говорилось, что агенты Федерального пограничного патруля США могут снять колючую проволоку, которую установила Национальная гвардия мятежного штата.</p>


                                    <h1 class="text-center text-xl-left bg-light bg-light bg-opacity-75 p-2">Заголовок новости 2</h1>
                                            <p class="text-start fs-3 lh-base text-xl-left bg-light bg-light bg-opacity-75 p-2"> Американская армия находится в худшем положении за многие десятилетия, пишет одно из самых влиятельных в Азии англоязычных аналитических изданий Eurasian Times. Пентагон истощен, потому что вынужден воевать сразу на нескольких фронтах: это противостояние с мигрантами и американскими радикалами на границе Техаса, эскалация в Украине и по всему Ближнему Востоку, плюс рост напряженности в Индо-Тихоокеанском регионе. Однако главной проблемой Америки остается беспрецедентный кризис с набором в ВС: все меньше молодежи выбирают армейскую службу.

Таков результат правления Джо Байдена, который оставит Штаты своему преемнику крайне истощенными в военном отношении. И это одна из причин катастрофического падения популярности 46-го президента. Судя по соцопросам, поддержка Байдена колеблется в пределах от 43% (данные Hill) до 33% (Real Creal Politics)

Впервые после окончания Холодной войны, когда американские вооруженные силы считались самыми могущественными, они оказались в глубочайшем кризисе. Миф о непобедимости армии США развеян в результате комплекса негативных факторов: геополитических, промышленных, экономических и социальных.

Противостояние на границе в Техасе может потенциально вылиться в гражданскую войну в случае, если внутренние разногласия не будут урегулированы.</p>
                                    </div>
                    </div>
        </div>

        <div class="col-md-4">
              <!-- ТУТ БУДЕТ КАРУСЕЛЬ ПОГОДЫ -->
            <br>
            <br>
                    <div class="row">
                            <img class="weather_img" src="{{ url_for('static', filename='img/weather.png') }}" alt='pic'>
                    </div>
                     <div class="row">
                        <div class="container mt-4">
                            <div id="carouselExample" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                <!-- Карточка 1 -->
                                    <div class="carousel-item active">
                                        <div class="card border border-dark mb-3" style="max-width: 18rem;">
                                            <div class="card-body">
                                                    <h5 class="card-title">Погода на сегодня</h5>
                                                    <p class="card-text">Температура: {{ today_forecast['temp_avg'] }}<span id="today-temp"></span>°C</p>
                                                    <p class="card-text">Ощущается как: {{ today_forecast['feels_like'] }}<span id="today-feels-like"></span>°C</p>
                                                    <p class="card-text">Вероятность осадков: {{ today_forecast['prec_prob'] }}<span id="today-precipitation"></span>%</p>
                                                    <p class="card-text">{{ today_condition }}<span id="today-condition"></span></p>
                                            </div>
                                        </div>
                                    </div>
                <!-- Карточка 2 -->
                                    <div class="carousel-item">
                                        <div class="card border-dark mb-3" style="max-width: 18rem;">
                                            <div class="card-body">
                                                <h5 class="card-title">Погода на завтра</h5>
                                                    <p class="card-text">Температура: {{ tomorrow_forecast['temp_avg'] }}<span id="tomorrow-temp"></span>°C</p>
                                                    <p class="card-text">Ощущается как: {{ tomorrow_forecast['feels_like'] }}<span id="tomorrow-feels-like"></span>°C</p>
                                                    <p class="card-text">Вероятность осадков: {{ tomorrow_forecast['prec_prob'] }}<span id="tomorrow-precipitation"></span>%</p>
                                                    <p class="card-text">{{ tomorrow_condition }}<span id="tomorrow-condition"></span></p>
                                            </div>
                                        </div>
                                    </div>
                <!-- Карточка 3 -->
                                    <div class="carousel-item">
                                       <div class="card border-dark mb-3" style="max-width: 18rem;">
                                            <div class="card-body">
                                                        <h5 class="card-title">Погода на выходные</h5>
                                                    <p class="card-text">Температура: {{ weekend_forecast['temp_avg'] }}<span id="weekend-temp"></span>°C</p>
                                                    <p class="card-text">Ощущается как: {{ weekend_forecast['feels_like'] }}<span id="weekend-feels-like"></span>°C</p>
                                                    <p class="card-text">Вероятность осадков: {{ weekend_forecast['prec_prob'] }}<span id="weekend-precipitation"></span>%</p>
                                                    <p class="card-text">{{ weekend_condition }}<span id="weekend-condition"></span></p>
                                            </div>
                                        </div>
                                    </div>

                                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                  </button>
                                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                  </button>

                            </div>
                        </div>

        </div>
      </div>
        </div>
    </div>
    </div>




{% endblock%}




