{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block head %}
    <div class="container-xxl">
      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-1 mb-2 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
          <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <img class="head_img" src="{{ url_for('static', filename='img/icon.png') }}" alt='pic'>
          </a>
        </div>
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
              <li><a href="{{ url_for('main_page.main_page') }}" class="nav-link px-2 link-secondary text-start ">Главная страница</a></li>
            </ul>
        <div class="col-md-3 text-end">

        </div>
      </header>
    </div>
{% endblock %}
<br>
{% block body %}
<div class="container text-center">
  <br>
  <div class="row align-items-stretch">
    <div class="col">

        <div class="p-3 mb-2 bg-white text-dark">
          Адрес юридический: Московская обл., г.о. Ступино, с. Шугарово, ТСН «Восток».
          <br>
          Адрес физически: Московская обл., д. Шугарово, ТСН «Восток».
          <br>
          email: sntvostock@yandex.ru</div>
    </div>
    <div class="col">
      <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A9270d1c4e2f7748a9232606d5ed65304e82d2c88ff66a179d111feeb443a663c&amp;width=640&amp;height=450&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>


{% endblock %}