{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
   {% block header1 %}
    <div class="container-xxl">
      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-1 mb-2 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
          <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <img class="head_img" src="{{ url_for('static', filename='img/icon.png') }}" alt='pic'>
          </a>
        </div>
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
              <li><a href="{{ url_for('index') }}" class="nav-link px-2 link-secondary text-start ">Главная страница</a></li>
            </ul>
        <div class="col-md-3 text-end">
          <a class="btn btn-primary" href="{{ url_for('logout') }}" role="button">Выйти</a>
        </div>
      </header>
    </div>
{% endblock %}