{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
Главная страница
<li>Lorem ipsum dolor sit amet.</li>
<li>Cupiditate fuga officiis porro soluta?</li>
<li>Molestiae mollitia quidem recusandae suscipit.</li>
<li>Iure laudantium quidem quis voluptatum!</li>
<li>Animi eligendi eveniet illo ipsum?</li>
<li>Consectetur ipsa maxime necessitatibus quisquam!</li>
<li>Esse ex magni maiores reprehenderit?</li>
<li>Expedita hic modi qui? Voluptates?</li>
<li>Consectetur molestiae officia quibusdam quos.</li>
<li>At consequuntur eveniet laboriosam ullam?</li>
<li>Assumenda natus officia sapiente tempora?</li>
<li>Ab amet eveniet inventore ipsa.</li>
<li>Excepturi quo repellat rerum sapiente!</li>
<li>Blanditiis cum deleniti dolorum minus.</li>
<li>Consequuntur ducimus ea labore recusandae?</li>
<li>In modi perferendis porro veritatis!</li>
<li>Deserunt excepturi iure nobis ullam.</li>
<li>Molestias nulla rem rerum saepe.</li>
<li>Delectus hic quam quis voluptates.</li>
<li>Est harum porro sunt tempora?</li>
<li>A cupiditate ipsa quia voluptate?</li>
<li>Aliquam aspernatur blanditiis minus tenetur.</li>
<li>Ab enim fugit ullam velit.</li>
<li>Corporis enim laudantium non placeat.</li>
<li>In magni omnis quisquam sed!</li>
<li>Optio porro quibusdam velit. Ipsum.</li>
<li>Dicta dolor non ullam voluptatem?</li>
<li>Dolor eveniet sequi similique vero?</li>
<li>Aspernatur dolore officiis quos veritatis!</li>
<li>Aliquid, ducimus fuga! Cum, minus.</li>
<li>Asperiores fuga in libero quisquam!</li>
<li>Est incidunt iste odit voluptatem.</li>
<li>Eligendi nihil odit quo totam!</li>
<li>Autem non officiis perspiciatis voluptates!</li>
<li>Beatae incidunt nulla sed similique!</li>
<li>Amet culpa eligendi illo iusto?</li>
<li>Labore numquam voluptate voluptatem voluptatum.</li>
<li>Eveniet, labore, nihil. At, soluta.</li>
<li>A consequatur nobis omnis totam.</li>
<li>Animi dicta doloribus labore nihil.</li>
<li>Excepturi laudantium provident quasi vitae!</li>
<li>Earum et ipsum repellat vel.</li>
<li>Earum est suscipit vitae voluptatibus?</li>
<li>Iure necessitatibus temporibus tenetur vero.</li>
<li>Debitis doloremque provident similique suscipit!</li>
<li>Inventore iste molestias nulla rerum.</li>
<li>Autem blanditiis doloremque ut veritatis.</li>
<li>Aperiam eveniet nihil quam sit!</li>
<li>Ipsam labore molestiae mollitia provident.</li>
<li>Amet sunt, vero? Nihil, tempora?</li>
<li>Aliquid id iure quisquam ullam!</li>
<li>Dolorum libero nesciunt sequi soluta?</li>
<li>Corporis eaque officia porro quasi!</li>
<li>Hic iure nemo officia perspiciatis?</li>
<li>Illum iure nesciunt omnis recusandae!</li>
<li>Dicta facere recusandae repellendus rerum.</li>
<li>Cupiditate esse quaerat quibusdam ut.</li>
<li>Distinctio error porro quam rem.</li>
<li>Atque aut corporis officia sunt.</li>
<li>Expedita labore maiores natus non.</li>
<li>Atque ex nostrum qui unde.</li>
<li>Accusantium aperiam ex explicabo. Voluptates.</li>
<li>Alias eos mollitia quae totam?</li>
<li>Ad architecto dolorem praesentium ullam!</li>
<li>Ipsam laudantium minima non sequi!</li>
<li>Aperiam beatae consequatur esse odio.</li>
<li>Amet cupiditate nulla officia sint!</li>
<li>At eaque earum facilis modi!</li>
<li>Aliquam deleniti hic reprehenderit ut!</li>
<li>Accusantium aliquam cum dolores illum.</li>
{% endblock %}
