{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
ТСН "Восток"
{% endblock %}



<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Your Flask App</title>-->
<!--    <link rel="stylesheet" href="/static/style.css">-->

<!--</head>-->
<!--<body>-->
<!--    <div class="content">-->
<!--        <h1>Сайт СНТ Восток</h1>-->
<!--        &lt;!&ndash; Ваш контент здесь &ndash;&gt;-->
<!--    </div>-->
<!--</body>-->
<!--</html>-->

